body {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

.max-width {
  max-width: 480px;
}

.center-horizontally {
  justify-content: center;
  display: flex;
}
.center-vertically {
  height: 100%;
  align-items: center;
}
